* {
    box-sizing: border-box;
}

body {
  color: rgb(53, 53, 53);
    font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  padding-block: 1rem;
}

input, select {
  padding: 0.3rem;
  margin-inline: 0.5rem;
}

.title {
  font-weight: 600;
}

.error-msg {
  color: rgb(158, 0, 0);
}

